<form method="post" action="/reviews">
    <legend>New Review</legend>
    {{> reviews-form}}
    
    <p>
        <button type="submit">Save Review</button>
    </p>
    
</form>
<a href="/"><button>Cancel</button></a>