<form method="post" action="/reviews">
    <fieldset>
        <legend>New Review</legend>
<!--        Title-->
        
        <p>
            <label for="title">Title</label>
            <input type="text" name="title">
        </p>
<!--        Movie Title-->
        <p>
            <label for="movieTitle">Movie Title</label>
            <input type="text" name="movieTitle">
        </p>
<!--        Description-->
        <p>
            <label for="description-text">Description</label>
            <textarea id="description-text" name="description" rows=""></textarea>
        </p>
    </fieldset>
    
    <p>
        <button type="submit">Save Review</button>
    </p>
    
</form>